<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.fleamarket.payment.model.DeliveryDTO_jh" alias="DeliveryDTO_jh"/>
		<typeAlias type="com.fleamarket.payment.model.PuerchaseDTO_gy" alias ="PuerchaseDTO_gy"/>
    
<!--     20180817 재헌 추가 -->
		<typeAlias type="com.fleamarket.payment.model.PaymentDTO" alias ="PaymentDTO"/>
		<typeAlias type="com.fleamarket.payment.model.SpellDTO_jh" alias ="SpellDTO_jh"/>
		<typeAlias type="com.fleamarket.product.model.ItemDTO" alias ="ItemDTO"/>
		<typeAlias type="com.fleamarket.memManage.model.MemManageDTO" alias ="MemManageDTO"/>

	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/fleamarket/mapper/Payment.xml"/>
	</mappers>
	
</configuration>
